body{
    background:yellow;
}
.container{
    width:400px;
    height:400px;
    background:black;
    margin:auto;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    border-radius:30px;
    transform-style: preserve-3d;
    filter:drop-shadow(0 0 10px crimson);
    border:2px solid black;
}
.planet{
    width:100px;
    height:100px;
    border-radius:50px;
    transform-style:preserve-3d;
    position:absolute;
    filter:drop-shadow(0 0 10px greenyellow);
}
.one{
    left:0;
    background:linear-gradient(yellow,orange,red);
    transform-origin:bottom right;
    animation:one 2s linear 0s infinite;
}
.two{
    right:0;
    background:linear-gradient(white,orange,brown,red);
    transform-origin:bottom left;
    animation:two 2s linear 0s infinite;
}
.three{
    bottom:0;
    left:0;
    background:linear-gradient(lightblue,lightgreen,lightblue);
    transform-origin:top right;
    animation:three 2s linear 0s infinite;
}
.four{
    right:0;
    bottom:0;
    background:linear-gradient(grey,white);
    transform-origin:top left;
    animation:four 2s linear 0s infinite;
}
.round{
    margin:auto;
    width:100px;
    height:100px;
    position:relative;
    top:150px;
    border-radius:50%;
    border:2px dotted yellow;
    animation:circle 3s linear 2s infinite;
}
.circle{
    width:30px;
    height:30px;
    border-radius:50%;
    position:absolute;
}
.a{
    background:linear-gradient(yellow,orange,red);
    top:0;
    left:0;
}
.b{
    background:linear-gradient(white,orange,brown,red);
    top:0;
    right:0;
}
.c{
    background:linear-gradient(lightblue,lightgreen,lightblue);
    bottom:0;
    left:0;
}
.d{
    background:linear-gradient(grey,white);
    bottom:0;
    right:0;
}
.orbit{
    display:inline-block;
    width:200px;
    height:200px;
    border-radius:100px;
    position:absolute;
    border:2px solid white;
}
.sun{   
    left:0;
    animation:sun 4s ease-in-out 2s infinite;
}
.earth{
    bottom:0;
    left:0;
    animation:earth 4s ease-in-out 3s infinite;
}
.moon{
    right:0;
    bottom:0;
    animation:moon 4s ease-in-out 4s infinite;
}
.jupiter{
    top:0;
    right:0;
    animation:jupiter 4s ease-in-out 5s infinite;
}
@keyframes one{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(1turn);}
}
@keyframes two{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(1turn)}
}
@keyframes three{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(1turn)}
}
@keyframes four{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(1turn)}
}
@keyframes circle{
    from{0}
    to{transform:rotate(1turn)}
}
@keyframes sun{
    from{0}
    to{background:yellow;opacity:0.6}
}
@keyframes jupiter{
    from{0}
    to{background:brown;opacity:0.6}
}
@keyframes earth{
    from{0}
    to{background:lightblue;opacity:0.6}
}
@keyframes moon{
    from{0}
    to{background:grey;opacity:0.6}
}






